{% extends "Final_App/base.html" %}

{%  load static %}

{% block content %}

<section id="about" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-white">
          <h1>Que Hacemos Nosotros</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error unde non ratione quis reiciendis? Dolor doloremque possimus illum dolorum quod quasi laboriosam assumenda dolore reiciendis sunt, earum tenetur quaerat placeat aliquid architecto omnis optio soluta voluptatem reprehenderit, odit, impedit repellat in pariatur accusantium? Labore fugiat perspiciatis voluptatum rerum ut unde!</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum doloremque veritatis soluta unde omnis enim voluptate deleniti nihil quia, architecto quasi ipsam sint provident, non eaque deserunt neque magnam voluptates repudiandae aliquam nobis pariatur quod commodi accusamus? Inventore, sunt ut.</p>

        </div>
        <div class="col-md-6">
          <img src="https://source.unsplash.com/random/700x700/?technology" alt="" class="img-fluid rounded-circle d-none d-md-block about-img">
          
        </div>
      </div>
    </div>
  </section>

    
{% endblock %}